/*GLOBAL*/
h1 {
  text-align: center;
}

/*
NAVBAR
*/
nav {
  display: block;
  box-sizing: border-box;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav>hr {
  border-top: 3px solid lightgrey;
}

.nav li {
  display: inline-block;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6px;
  padding-left: 6px;
}

.nav li>a {
  text-decoration: none;
  color: #0073FF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #fff;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

.container {
    padding: 16px;
}
